/* 颜色 */
$c_033_033_033_020: rgba(33, 33, 33, 0.2);
$c_255_255_255_100: rgba(255, 255, 255, 1);


/* 文字大小 */
$fs_10rpx: 10rpx;
$fs_12rpx: 12rpx;
$fs_14rpx: 14rpx;
$fs_16rpx: 16rpx;
$fs_18rpx: 18rpx;
$fs_20rpx: 20rpx;
$fs_22rpx: 22rpx;
$fs_24rpx: 24rpx;
$fs_26rpx: 26rpx;
$fs_28rpx: 28rpx;
$fs_30rpx: 30rpx;
$fs_32rpx: 32rpx;
